---
import "../output.css";
---

<footer style="padding-top:95px; padding-bottom: 10px;">
  <div class="dark:bg-black flex justify-center p-3">
    <p class="dark:text-white">
      Todos los derechos reservados - © Copyright thequintillo.es
    </p>
  </div>
</footer>
